
    <div class="box_1" th:fragment ="header" >
        <div class="box_1_1">
            <div class="banner">
                <h2>Receptionist panel</h2>
                <p>Receptionist user</p>
            </div>
        </div>
        <div class="box_1_2">
            <div class="nav_menu">
                <ul>
                    <li><div class="box_1_2_1"><a href="home.html"><i class="fa-solid fa-table-columns"></i> Tổng Quan</a></div></li>
                    <li><div class="box_1_2_1"><a href="customer.html"><i class="fa-regular fa-user"></i> Khách Hàng</a></div></li>
                    <li><div class="box_1_2_1 active"><a href="checkin.html"><i class="fa-solid fa-store"></i> Check-In</a></div></li>
                    <li><div class="box_1_2_1"><a href="./appointment.html"><i class="fa-solid fa-calendar"></i> Đặt Lịch</a></div></li>
                </ul>
            </div>
        </div>
        <div class="box_1_3">
            <button class="btn-logout">
                <a href="#!">Đăng xuất</a>
            </button>
        </div>
    </div>
