<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(Makeup-Artist)"></head>

<body>
<!-- header-->
     <header th:replace="/fragments/header :: header"></header>
<!--header-->
<!-- Hero Section -->
     <div th:replace="/fragments/header :: section"></div>
<!--Hero Section-->
<!--Content-->
     <div class="artists">
         <div class="grid_row">

             <!-- Lặp qua danh sách nghệ sĩ trang điểm -->
             <div class="grid_row1-3" th:each="artists : ${artists}">
                 <img th:src="${artists.featureWork}" alt="Hình makeup">
                 <div class="wrap">
                     <div class="avatar">
                         <img th:src="${artists.accountMakeup.avatar}" alt="Ảnh đại diện">
                     </div>
                     <div class="rate">
                         <p th:text="${artists.accountMakeup.nameAccount}">Tên nghệ sĩ</p>
                         <div class="rate_start">
                             <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                             <p th:text="${artists.accountMakeup.rating}">Rating</p>
                         </div>
                     </div>
                 </div>
                 <div class="wrap_two">
                     <div class="location">
                         <i class="fa-solid fa-location-dot"></i>
                         <p th:text="${artists.accountMakeup.address}">Địa chỉ</p>
                     </div>
                     <div class="price">
                         <p th:text="${#numbers.formatInteger(artists.price,3,'POINT')} + ' VND'">Giá</p>
                         <button class="view_info">
                             <a th:href="@{'/makeup-artists/' + ${artists.makeupArtistId}}">Xem thông tin chi tiết</a>
                         </button>
                     </div>
                 </div>
             </div>
         </div>
     </div>
<!--End Content-->

<!--End Content-->
 <!--footer-->
<footer th:replace="/fragments/footer :: footer"></footer>
<!--footer-->
     <script src="/js/script.js"></script>
</body>
</html>