<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Ký</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <div class="regis-container">
        <div class="regis-form">
            <h2>Đăng Ký</h2>
            <div class="regis-name">
                <input type="text" id="lastname" placeholder="Họ và tên" required>
            </div>
            <input type="email" id="email" placeholder="Email" required>
            <input type="password" id="password" placeholder="Mật khẩu" required>
            <input type="password" id="confirm-password" placeholder="Xác nhận mật khẩu" required>
            <button>Đăng Ký</button>
            <div class="login-link">
                <p>Đã có tài khoản? <a href="login.html">Đăng nhập</a></p>
            </div>
        </div>
    </div>
</body>
</html>