<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(Service)"></head>

<body>
    <!-- header-->
    <header th:replace="/fragments/header :: header"></header>
    <!--header-->
    <!-- Hero Section -->
    <div th:replace="/fragments/header :: section"></div>
    <!--Hero Section-->
    <!--content-->
  <div class="content">
      <div class="services">
          <div class="grid_row">
              <!-- Duyệt qua danh sách dịch vụ từ Controller -->
              <div th:each="services : ${services}" class="grid_column1-3">
                  <div class="grid_1-3">
                      <img th:src="${services.image}" alt="Makeup Service">
                      <h2 th:text="${services.name}"></h2>
                      <p th:text="${services.description}"></p>
                      <div class="grid_1-3-1">
                          <p th:text="'Giá: ' + ${services.price} + ' VNĐ'"></p>
                          <button class="bnt1-3">
                              <a href="/schedule.html">Đặt lịch</a>
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <!--END CONTENT-->
     <!--footer-->
    <footer th:replace="/fragments/footer :: footer"></footer>
    <!--footer-->
<script src="/js/script.js"></script>
</body>
</html>