<div class="box_1" th:fragment="header">
    <div class="box_1_1">
        <div class="banner">
            <h2>GlamSchedule</h2>
            <p>makeup artists user</p>
        </div>
    </div>
    <div class="box_1_2">
        <div class="nav_menu">
            <ul>
                <li><div class="box_1_2_1"><a href="./index.html"><i class="fa-regular fa-user"></i> Trang Chủ</a></div></li>
                <li><div class="box_1_2_1"><a href="./work_schedule.html"><i class="fa-solid fa-server"></i> Lịch Hẹn</a></div></li>
                <li><div class="box_1_2_1"><a href="./infor.html" style="padding-right: 47px;"><i class="fa-solid fa-store"></i> Thông Tin Cá Nhân</a></div></li>
            </ul>
        </div>
    </div>
    <div class="box_1_3">
        <button class="btn-logout" id="admin-logout-btn">
            <a th:href="@{/home}">Thoát</a>
        </button>
    </div>
</div>