<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="manager/fragments/head :: head(Booking-Makeup-Manager-Infor)">
</head>
<body>
<div class="col_1_2">
  <div th:replace="manager/fragments/header :: header"></div>
  <!--Box 2-->
  <div class="box_2">
    <div class="box_2_1">
      <div class="header_row">
        <h1>Manager Dashboard</h1>
      </div>
    </div>
    <div class="box_2_2">
      <div id="title-1-1">
        <h1>Hồ Sơ Cá Nhân</h1>
        <p>Quản lý thông tin cá nhân và thiết lập của bạn</p>
      </div>
      <div class="content-1-1">
        <h2>Thông tin cơ bản</h2>
        <div class="container_setting-1-1">
          <div id="avatar">
            <img th:src="${loggedInAccount.avatar}" alt="Avatar"/>
            <h3 th:text="${loggedInAccount.nameAccount}"></h3>
            <p th:text="${loggedInAccount.email}"></p>
            <p th:text="${loggedInAccount.role}"></p>
          </div>

          <div class="box-info-1">
            <h3>Thông tin cá nhân</h3>
            <p>Cập nhật thông tin cá nhân của bạn</p>

            <form action="/manager/updateAccount" method="post"
                  onsubmit="return confirm('Bạn có chắc chắn muốn cập nhật thông tin không?');">
              <input type="hidden" name="userId" th:value="${loggedInAccount.userId}">

              <div class="box-if">
                <div class="if-1">
                  <p>Họ Và Tên</p>
                  <input id="ht" type="text" name="nameAccount" th:value="${loggedInAccount.nameAccount}" placeholder="Họ Và Tên" required/>

                  <p>Số Điện Thoại</p>
                  <input id="phone" type="text" name="phone" th:value="${loggedInAccount.phone}" placeholder="0123456789" required/>
                </div>

                <div class="if-1">
                  <p>Email</p>
                  <input id="email" type="email" name="email" th:value="${loggedInAccount.email}" placeholder="Email" readonly/>
                </div>
              </div>

              <div class="box-info-1">
                <div class="i1-1">
                  <p>Địa chỉ</p>
                  <input id="address" type="text" name="address" th:value="${loggedInAccount.address}" placeholder="Địa chỉ" required/>
                </div>
              </div>

              <button id="btn-end" type="submit">Cập nhật thông tin</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="manager/fragments/footer :: footer"></div>
  </div>
</div>

<script src="/admin/js/script.js" defer></script>
</body>
</html>
