<!DOCTYPE html>
<html lang="en">
<head th:replace="manager/fragments/head :: head(Booking-Makeup-Manager-Staff)">
</head>
<body>
<div class="col_1_2">
    <div th:replace="manager/fragments/header :: header"></div>
    <!--Box 2-->
    <div class="box_2">
        <div class="box_2_1">
            <div class="header_row">
                <h1>Manager Dashboard</h1>
            </div>
        </div>
        <div class="box_2_2">
            <div class="content">
                <h1>Quản Lý Nhân Viên</h1>
            </div>
            <div class="content">
                <table class="staff-table">
                    <thead>
                    <tr>
                        <th>Nhân viên</th>
                        <th>Vai trò</th>
                        <th>Email</th>
                        <th>Chi nhánh</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="staff : ${staffList}">
                        <td><i class="fa-solid fa-circle-user"></i> <span th:text="${staff.nameAccount}"></span></td>
                        <td><span class="role" th:text="${staff.role}"></span></td>
                        <td th:text="${staff.email}"></td>
                        <td th:text="${staff.branch.name}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:replace="manager/fragments/footer :: footer"></div>
    </div>
</div>

<script src="/admin/js/script.js" defer></script>
</body>
</html>
