<div class="box_1" th:fragment ="header" >
    <div class="box_1_1">
        <div class="banner">
            <h2>
                Manager Panel
            </h2>
            <p>Manager user</p>
        </div>
    </div>
    <div class="box_1_2">
        <div class="nav_menu">
            <ul>
                <li><div class="box_1_2_1"><a href="/manager/index"><i class="fa-solid fa-table-columns"></i> Tổng Quan</a></div></li>
                <li><div class="box_1_2_1"><a href="/manager/staff"><i class="fa-regular fa-user"></i> Nhân viên</a></div></li>
                <li><div class="box_1_2_1"><a href="/manager/appointment"><i class="fa-solid fa-calendar"></i> Đặt Lịch</a></div></li>
                <li><div class="box_1_2_1"><a href="/manager/infor"><i class="fa-solid fa-gear"></i> Thông Tin</a></div></li>
            </ul>
        </div>
    </div>
    <div class="box_1_3">
        <button class="btn-logout">
            <a href="/home">Thoát</a> <!-- Trả về /home -->
        </button>
    </div>
</div>