<!DOCTYPE html>
<html lang="en">
<head th:replace="admin/fragments/head :: head(Booking-Makeup-Admin-Service)">
</head>
<body>
    <div class="col_1_2">
        <div th:replace="admin/fragments/header :: header"></div>

        <!--Box 2-->
        <div class="box_2">
            <div class="box_2_1">
                <div class="header_row">
                    <h1>Admin Dashboard</h1>
                </div>
            </div>
            <div class="box_2_2">
                <div class="content">
                    <div class="box_add">
                        <h1>Quản Lý Dịch Vụ</h1>
                        <button class="btn btn-primary" onclick="showForm('service')"style="width: 144px;">+ Thêm dịch vụ</button>
                    </div>
                </div>
                <div class="content">
                    <div class="branch-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Tên dịch vụ</th>
                                    <th>Mô tả</th>
                                    <th>Thời gian</th>
                                    <th>Giá</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr th:each="service : ${services}">
                                <td><strong th:text="${service.name}">Tên dịch vụ</strong></td>
                                <td th:text="${service.description}">Mô tả</td>
                                <td><i class="far fa-clock"></i> <span th:text="${service.duration}">Thời gian</span> phút</td>
                                <td th:text="${#numbers.formatDecimal(service.price, 0, 'COMMA', 0, 'POINT')} + ' đ'">Giá</td>
                                <td>
                                    <button class="edit-btn" th:onclick="|editService(${service.serviceId})|">Sửa</button>
                                    <button class="delete-btn" th:onclick="|deleteService(${service.serviceId})|">Xóa</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div th:replace="admin/fragments/footer :: footer"></div>
        </div>
    </div>
    <div id="formPopup" class="form-popup hidden">
        <h2>Thêm Dịch Vụ</h2>
        <input type="text" id="serviceName" placeholder="Tên dịch vụ">
        <input type="text" id="serviceDescription" placeholder="Mô tả">
        <input type="text" id="serviceDuration" placeholder="Thời gian">
        <input type="text" id="servicePrice" placeholder="Giá">
        <button onclick="addservice()">Lưu</button>
        <button onclick="closeForm()">Đóng</button>
    </div>
    <script src="/admin/js/script.js" defer></script>
</body>
</html>
